* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
}

body {
  background-color: white;
  padding: 20px;
  width: 100%;
  text-align: left;
}
.titulos {
  margin: -20px;
  padding: 30px;
  font-family: "Righteous", cursive;
  font-size: 50px;
  align-items: center;
}

.text{
  margin: 20px;
  padding: 0 32px -48px;
}

footer {
  position: relative;
  width: 100%;
  background: #4d4e4e;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .social_icon,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding-left: 0rem;
}
footer .social_icon li,
footer .menu li {
  list-style: none;
}
footer .social_icon a,
footer .menu a {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .social_icon li a:hover {
  transform: translateY(-10px);
}
footer .menu li a {
  font-size: 1rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}
footer .menu li a:hover {
  opacity: 1;
}
footer .derechos {
  color: #ffff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 0.8rem;
}
